.ai-hub-btn{
    background: #EB5757;
    color: white;
    padding: 25px;
}

/* -------------JS Style----------- */

.details-btn{
    color: #EB5757;
    border-radius: 50%;
    padding: 10px;
}

.feature-detail{
    background: rgba(235, 87, 87, 0.05);
    border: 2px solid salmon;
}
#cost1{
    padding: 20px;
    border-radius: 16px;
    background: white;
    color: #03A30A;
    font-weight: 700;
}

#cost2{
    padding: 20px;
    border-radius: 16px;
    background: white;
    color: #F28927;
    font-weight: 700;
}

#cost3{
    padding: 20px;
    border-radius: 16px;
    background: white;
    color: #EB5757;
    font-weight: 700;
}